accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire
https://github.com/huggingface/peft/archive/refs/tags/v0.2.0.zip
https://github.com/huggingface/transformers/archive/refs/tags/v4.28.0.zip
sentencepiece
gradio
torch